## [Start] Setting "isLive" to default value of "false". **
$util.qr($context.args.input.put("isLive", $util.defaultIfNull($ctx.args.input.isLive, false)))
## [End] Setting "isLive" to default value of "false". **
{}