## [Start] Setting "confidence" to default value of "1". **
$util.qr($context.args.input.put("confidence", $util.defaultIfNull($ctx.args.input.confidence, 1)))
## [End] Setting "confidence" to default value of "1". **
{}