## [Start] Setting "popularityScore" to default value of "0". **
$util.qr($context.args.input.put("popularityScore", $util.defaultIfNull($ctx.args.input.popularityScore, 0)))
## [End] Setting "popularityScore" to default value of "0". **
{}