## [Start] Setting "defaultBudgetPerServing" to default value of "5". **
$util.qr($context.args.input.put("defaultBudgetPerServing", $util.defaultIfNull($ctx.args.input.defaultBudgetPerServing, 5)))
## [End] Setting "defaultBudgetPerServing" to default value of "5". **
## [Start] Setting "householdSize" to default value of "2". **
$util.qr($context.args.input.put("householdSize", $util.defaultIfNull($ctx.args.input.householdSize, 2)))
## [End] Setting "householdSize" to default value of "2". **
{}