## [Start] Setting "costTargetMin" to default value of "2". **
$util.qr($context.args.input.put("costTargetMin", $util.defaultIfNull($ctx.args.input.costTargetMin, 2)))
## [End] Setting "costTargetMin" to default value of "2". **
## [Start] Setting "costTargetMax" to default value of "10". **
$util.qr($context.args.input.put("costTargetMax", $util.defaultIfNull($ctx.args.input.costTargetMax, 10)))
## [End] Setting "costTargetMax" to default value of "10". **
{}