## [Start] Setting "country" to default value of "US". **
$util.qr($context.args.input.put("country", $util.defaultIfNull($ctx.args.input.country, "US")))
## [End] Setting "country" to default value of "US". **
{}